In [1]:
import numpy as np
import pandas as pd
from pandas_datareader import data as wb
import matplotlib.pyplot as plt

In [2]:
sec_data = pd.read_csv('PG_BEI.DE_2007_2017.csv', index_col='Date')

In [3]:
sec_data.tail()

                   PG     BEI.DE
Date
2017-03-17  89.605492  87.559509
2017-03-20  89.822121  87.440437
2017-03-21  89.792580  87.202278
2017-03-22  89.595642  86.983986
2017-03-23  89.379013  87.470207

In [4]:
sec_returns = np.log(sec_data / sec_data.shift(1))

In [5]:
sec_returns

                  PG    BEI.DE
Date
2007-01-03       NaN       NaN
2007-01-04 -0.007621  0.006545
2007-01-05 -0.008624 -0.020772
2007-01-08  0.002203  0.000202
2007-01-09 -0.002517 -0.022858
...              ...       ...
2017-03-17 -0.004824  0.004430
2017-03-20  0.002415 -0.001361
2017-03-21 -0.000329 -0.002727
2017-03-22 -0.002196 -0.002506
2017-03-23 -0.002421  0.005574

[2574 rows x 2 columns]

## PG

In [6]:
sec_returns['PG'].mean()

0.0002510489704541878

In [7]:
sec_returns['PG'].mean() * 250

0.06276224261354695

In [8]:
sec_returns['PG'].std()

0.011161903265721093

In [9]:
sec_returns['PG'].std() * 250 ** 0.5

0.17648518671075145

## Beiersdorf

In [10]:
sec_returns['BEI.DE'].mean()

0.0002692145717092695

In [11]:
sec_returns['BEI.DE'].mean() * 250

0.06730364292731737

In [12]:
sec_returns['BEI.DE'].std()

0.014258683507114199

In [13]:
sec_returns['BEI.DE'].std() * 250 ** 0.5

0.22544958158979275

***

In [15]:
print(sec_returns['PG'].mean() * 250)
print(sec_returns['BEI.DE'].mean() * 250)

0.06276224261354695
0.06730364292731737

In [17]:
sec_returns[['PG', 'BEI.DE']].mean() * 250

PG        0.062762
BEI.DE    0.067304
dtype: float64

In [18]:
sec_returns[['PG', 'BEI.DE']].mean() * 250

PG        0.062762
BEI.DE    0.067304
dtype: float64

In [19]:
sec_returns[['PG', 'BEI.DE']].std() * 250 ** 0.5

PG        0.176485
BEI.DE    0.225450
dtype: float64

## Covariance and Correlation


\begin{eqnarray*}
Covariance Matrix: \  \   
\Sigma = \begin{bmatrix}
        \sigma_{1}^2 \ \sigma_{12} \ \dots \ \sigma_{1I} \\
        \sigma_{21} \ \sigma_{2}^2 \ \dots \ \sigma_{2I} \\
        \vdots \ \vdots \ \ddots \ \vdots \\
        \sigma_{I1} \ \sigma_{I2} \ \dots \ \sigma_{I}^2
    \end{bmatrix}
\end{eqnarray*}

In [20]:
PG_var = sec_returns['PG'].var() 
PG_var

0.0001245880845133152

In [21]:
BEI_var = sec_returns['BEI.DE'].var() 
BEI_var

0.00020331005535605048

In [22]:
PG_var_a = sec_returns['PG'].var() * 250
PG_var_a

0.0311470211283288

In [23]:
BEI_var_a = sec_returns['BEI.DE'].var() * 250
BEI_var_a

0.05082751383901262

***

In [24]:
cov_matrix = sec_returns.cov()
cov_matrix

              PG    BEI.DE
PG      0.000125  0.000041
BEI.DE  0.000041  0.000203

In [25]:
cov_matrix_a = sec_returns.cov() * 250
cov_matrix_a

              PG    BEI.DE
PG      0.031147  0.010300
BEI.DE  0.010300  0.050828

***

In [26]:
corr_matrix = sec_returns.corr()
corr_matrix

              PG    BEI.DE
PG      1.000000  0.257455
BEI.DE  0.257455  1.000000