## Calculating Covariance and Correlation

Consider a portfolio composed of *Walmart* and *Facebook*. Do you expect the returns of these companies to show high or low covariance? Or, could you guess what the correlation would be? Will it be closer to 0 or closer to 1?

Begin by extracting data for Walmart and Facebook from the 1st of January 2014 until today.

In [6]:
import pandas as pd
from pandas_datareader import data as wb
tickers = ['WMT', 'FB']
new_data = pd.DataFrame()
for tick in tickers:
    new_data[tick] = wb.DataReader(tick, data_source='yahoo', start='2014-1-1')['Adj Close']

Repeat the process we went through in the lecture for these two stocks. How would you explain the difference between their means and their standard deviations?

In [7]:
new_data.head()

                  WMT         FB
Date
2014-01-02  66.034126  54.709999
2014-01-03  65.816544  54.560001
2014-01-06  65.448334  57.200001
2014-01-07  65.649170  57.919998
2014-01-08  65.130348  58.230000

In [14]:
new_data['FB'].mean(), new_data['FB'].std()

(165.48516077396258, 78.1050862949486)

In [15]:
new_data['WMT'].mean(), new_data['WMT'].std()

(89.73849155100147, 29.3740554161266)

Facebook stock has a higher mean and standard deviation than its counterpart, Walmart.

***

## Covariance and Correlation


\begin{eqnarray*}
Covariance Matrix: \  \   
\Sigma = \begin{bmatrix}
        \sigma_{1}^2 \ \sigma_{12} \ \dots \ \sigma_{1I} \\
        \sigma_{21} \ \sigma_{2}^2 \ \dots \ \sigma_{2I} \\
        \vdots \ \vdots \ \ddots \ \vdots \\
        \sigma_{I1} \ \sigma_{I2} \ \dots \ \sigma_{I}^2
    \end{bmatrix}
\end{eqnarray*}

Covariance matrix:

In [16]:
new_data.cov()

             WMT           FB
WMT   862.835132  2087.567834
FB   2087.567834  6100.404505

Correlation matrix:

In [17]:
new_data.corr()

          WMT        FB
WMT  1.000000  0.909908
FB   0.909908  1.000000

Would you consider investing in such a portfolio? No, the high correlation between the two stocks nullifies the diversification gain one sorts from holding a portfolio.