## Calculating Portfolio Risk

Calculate the risk of an equally weighted portfolio composed of Microsoft and Apple. The data can be obtained from Yahoo Finance for the period 1st of January 2007 until today.

*Hint: The code we went through in the lecture is what you need here. You will need to import the data first. The previous lessons could be a good reference point for that! :) *

In [24]:
import pandas as pd
from pandas_datareader import data as wb

tickers = ['MSFT', 'AAPL']
new_data = pd.DataFrame()
for tick in tickers:
    new_data[tick] = wb.DataReader(tick, data_source='yahoo', start='2007-01-01')['Adj Close']

In [30]:
new_data.head()

                 MSFT      AAPL
Date
2007-01-03  21.829725  2.565971
2007-01-04  21.793169  2.622925
2007-01-05  21.668880  2.604246
2007-01-08  21.880896  2.617107
2007-01-09  21.902828  2.834510

## MSFT

In [25]:
new_data['MSFT'].head()

Date
2007-01-03    21.829725
2007-01-04    21.793169
2007-01-05    21.668880
2007-01-08    21.880896
2007-01-09    21.902828
Name: MSFT, dtype: float64

## Apple

In [26]:
new_data['AAPL'].head()

Date
2007-01-03    2.565971
2007-01-04    2.622925
2007-01-05    2.604246
2007-01-08    2.617107
2007-01-09    2.834510
Name: AAPL, dtype: float64

***

## Covariance and Correlation


\begin{eqnarray*}
Covariance Matrix: \  \   
\Sigma = \begin{bmatrix}
        \sigma_{1}^2 \ \sigma_{12} \ \dots \ \sigma_{1I} \\
        \sigma_{21} \ \sigma_{2}^2 \ \dots \ \sigma_{2I} \\
        \vdots \ \vdots \ \ddots \ \vdots \\
        \sigma_{I1} \ \sigma_{I2} \ \dots \ \sigma_{I}^2
    \end{bmatrix}
\end{eqnarray*}

*****

Covariance matrix:

In [27]:
new_data.cov()

             MSFT         AAPL
MSFT  5001.547843  2498.318926
AAPL  2498.318926  1288.549018

Correlation matrix:

In [28]:
new_data.corr()

          MSFT      AAPL
MSFT  1.000000  0.984114
AAPL  0.984114  1.000000

In [29]:
new_returns = new_data / new_data.shift(1) - 1
new_returns.head()

                MSFT      AAPL
Date
2007-01-03       NaN       NaN
2007-01-04 -0.001675  0.022196
2007-01-05 -0.005703 -0.007121
2007-01-08  0.009784  0.004938
2007-01-09  0.001002  0.083070

## Calculating Portfolio Risk

Equal weigthing scheme:

In [32]:
import numpy as np

new_weights = np.array([0.5, 0.5])

Portfolio Variance:

In [35]:
portfolio_var = np.dot(new_weights.T, np.dot(new_returns.cov() * 250, new_weights))
portfolio_var

0.06961378182730196

Portfolio Volatility:

In [36]:
portfolio_vol = np.dot(new_weights.T, np.dot(new_returns.cov() * 250, new_weights))**0.5
portfolio_vol

0.2638442378133393

In [37]:
print(str(round(portfolio_vol, 5)*100)+'%')

26.384%