In [1]:
import numpy as np
import pandas as pd
from pandas_datareader import data as wb
import matplotlib.pyplot as plt

In [2]:
sec_data = pd.read_csv('PG_BEI.DE_2007_2017.csv', index_col='Date')

In [3]:
sec_data.tail()

                   PG     BEI.DE
Date
2017-03-17  89.605492  87.559509
2017-03-20  89.822121  87.440437
2017-03-21  89.792580  87.202278
2017-03-22  89.595642  86.983986
2017-03-23  89.379013  87.470207

In [4]:
sec_returns = np.log(sec_data / sec_data.shift(1))

In [10]:
sec_returns_1 = sec_data / sec_data.shift(1) - 1
sec_returns_1

                  PG    BEI.DE
Date
2007-01-03       NaN       NaN
2007-01-04 -0.007592  0.006566
2007-01-05 -0.008587 -0.020557
2007-01-08  0.002205  0.000202
2007-01-09 -0.002514 -0.022599
...              ...       ...
2017-03-17 -0.004812  0.004439
2017-03-20  0.002418 -0.001360
2017-03-21 -0.000329 -0.002724
2017-03-22 -0.002193 -0.002503
2017-03-23 -0.002418  0.005590

[2574 rows x 2 columns]

In [5]:
sec_returns

                  PG    BEI.DE
Date
2007-01-03       NaN       NaN
2007-01-04 -0.007621  0.006545
2007-01-05 -0.008624 -0.020772
2007-01-08  0.002203  0.000202
2007-01-09 -0.002517 -0.022858
...              ...       ...
2017-03-17 -0.004824  0.004430
2017-03-20  0.002415 -0.001361
2017-03-21 -0.000329 -0.002727
2017-03-22 -0.002196 -0.002506
2017-03-23 -0.002421  0.005574

[2574 rows x 2 columns]

## PG

In [11]:
sec_returns['PG'].mean()

0.0002510489704541878

In [12]:
sec_returns['PG'].mean() * 250

0.06276224261354695

In [13]:
sec_returns['PG'].std()

0.011161903265721093

In [14]:
sec_returns['PG'].std() * 250 ** 0.5

0.17648518671075145

## Beiersdorf

In [15]:
sec_returns['BEI.DE'].mean()

0.0002692145717092695

In [16]:
sec_returns['BEI.DE'].mean() * 250

0.06730364292731737

In [17]:
sec_returns['BEI.DE'].std()

0.014258683507114199

In [18]:
sec_returns['BEI.DE'].std() * 250 ** 0.5

0.22544958158979275

Final Results:

In [20]:
print(sec_returns['PG'].mean() * 250)
print(sec_returns['BEI.DE'].mean() * 250)

0.06276224261354695
0.06730364292731737

In [22]:
sec_returns[['PG', 'BEI.DE']].mean() * 250

PG        0.062762
BEI.DE    0.067304
dtype: float64

In [23]:
sec_returns[['PG', 'BEI.DE']].mean() * 250

PG        0.062762
BEI.DE    0.067304
dtype: float64

In [24]:
sec_returns[['PG', 'BEI.DE']].std() * 250 ** 0.5

PG        0.176485
BEI.DE    0.225450
dtype: float64