## Calculating the Risk of a Security

*Suggested Answers follow (usually there are multiple ways to solve a problem in Python).*

Download the data for Microsoft (‘MSFT’) from Yahoo Finance for the period ‘2000-1-1’ until today. <br />
Assess the daily and the annual risk of ‘MSFT’. Repeat the exercise for Apple for the same timeframe.

In [2]:
import pandas as pd
import numpy as np
from pandas_datareader import data as wb

In [11]:
tickers = ['MSFT', 'AAPL']
my_data = pd.DataFrame()
for tick in tickers:
    my_data[tick] = wb.DataReader(tick, data_source='yahoo', start='2000-1-1')['Adj Close']
my_data.head()

                 MSFT      AAPL
Date
2000-01-03  36.794212  0.856887
2000-01-04  35.551300  0.784643
2000-01-05  35.926155  0.796124
2000-01-06  34.722687  0.727229
2000-01-07  35.176441  0.761677

In [12]:
my_returns = my_data/my_data.shift(1) - 1
my_returns.head()

                MSFT      AAPL
Date
2000-01-03       NaN       NaN
2000-01-04 -0.033780 -0.084310
2000-01-05  0.010544  0.014633
2000-01-06 -0.033498 -0.086538
2000-01-07  0.013068  0.047369

### MSFT

Daily risk:

In [13]:
print('daily_risk =', my_returns['MSFT'].std())

daily_risk = 0.01925756289386262

Annual risk:

In [14]:
print('annual_risk =', my_returns['MSFT'].std()*250**0.5)

annual_risk = 0.30448880464274647

### Apple

Daily risk:

In [15]:
print('daily_risk =', my_returns['AAPL'].std())

daily_risk = 0.025257083349017603

Annual risk:

In [16]:
print('annual_risk =', my_returns['AAPL'].std()*250**0.5)

annual_risk = 0.3993495521780456

******

Store the volatilities of the two stocks in an array called “vols”.

In [17]:
print('vols =', my_returns[['MSFT','AAPL']].std()*250**0.5)

vols = MSFT    0.304489
AAPL    0.399350
dtype: float64

How are the two risk values different?