## Importing and Organizing Your Data in Python - Part I

*Suggested Answers follow (usually there are multiple ways to solve a problem in Python).*

a. Create a series object of 10 randomly generated integer values.

In [1]:
import pandas as pd
import numpy as np

In [4]:
rand_ints = pd.Series(np.random.random(10), name = 'col')
rand_ints.head()

0    0.423863
1    0.493769
2    0.796369
3    0.825835
4    0.459587
Name: col, dtype: float64

In [5]:
rand_ints[1:3]

1    0.493769
2    0.796369
Name: col, dtype: float64

b. Extract data from Yahoo Finance for Ford from the 1st of January 2005. The ticker you need is ‘F’.

In [6]:
from pandas_datareader import data as wb

In [9]:
data = wb.DataReader('PG', data_source = 'yahoo', start = '1995-1-1')

In [10]:
data.head()

                High       Low      Open     Close     Volume  Adj Close
Date
1995-01-03  15.62500  15.43750  15.46875  15.59375  3318400.0   8.014160
1995-01-04  15.65625  15.31250  15.53125  15.46875  2218800.0   7.949917
1995-01-05  15.43750  15.21875  15.37500  15.25000  2319600.0   7.837496
1995-01-06  15.40625  15.15625  15.15625  15.28125  3438000.0   7.853555
1995-01-09  15.40625  15.18750  15.34375  15.21875  1795200.0   7.821435

In [11]:
from pandas_datareader import data as wb
data1 = wb.DataReader('PG', data_source = 'yahoo', start = '2020-1-1')
data1.head()

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2020-01-02,124.730003,122.940002,124.500000,123.410004,8130800.0,117.480568
2020-01-03,123.529999,121.860001,122.160004,122.580002,7970500.0,116.690453
2020-01-06,123.190002,122.379997,122.570000,122.750000,6674400.0,116.852280
2020-01-07,123.209999,121.870003,122.879997,121.989998,7583400.0,116.128792
2020-01-08,123.430000,122.000000,122.190002,122.510002,5385100.0,116.623810